      {% assign free_shipping_threshold = 500000 %}
      {% assign cart_total = value %}
      {% for item in cart.items %}
        {% if item.requires_shipping %}
          {% assign cart_total = cart_total | plus: item.final_line_price %}
        {% endif %}
      {% endfor %}

      {% assign remaining_amount = free_shipping_threshold | minus: cart_total %}

      {% capture shipping_message %}
        You need <strong>{{ remaining_amount | money_with_currency }}</strong> to get free shipping
      {% endcapture %}

      {% if remaining_amount <= 0 %}
        {% assign remaining_amount = 0 %}
        {% comment %} {% capture free_shipping_message %}
          Congratulations!!! You have unlocked free shipping
        {% endcapture %} {% endcomment %}
        {% capture shipping_message %}
          Congratulations! You have unlocked free shipping
        {% endcapture %}
      {% endif %}

      {% assign difference = free_shipping_threshold |  minus: remaining_amount %}
      {% assign percentage_remaining = 100 | times: difference |  divided_by: free_shipping_threshold %}

            <style>
        .free_shipping {
          display: flex;
          flex-direction: column;
          gap: 10px;
          background-color: #e9e9e9;
          padding: 20px;
          border-radius: 5px;
          margin: 10px 0;
        }

        .free_shipping h4 {
          margin: 0;
        }

        .free_shipping_progress_bar {
          width: 100%;
          height: 5px;
          background-color: #e0c1c1;
          border-radius: 100px;
          display: block !important;
          position: relative;
          overflow: hidden;
        }

      .free_shipping_progress_bar::before {
        content: "";
        width: 0%;
        height: 100%;
        background-color: green;
        position: absolute;
        left: 0;
        top: 0;
        transition: width 1s ease-out;
      }

      /* Add the active class with the calculated percentage width */
      .free_shipping_progress_bar.active::before {
        width: {{ percentage_remaining }}%;
      }
      </style>

      {% comment %} {% assign free_shipping_message = value %} {% endcomment %}
      <div class="free_shipping">
        {% comment %} <h5>Free Shipping Progress Bar {{ cart_total }}</h5> {% endcomment %}
        {% comment %} <p>{{ remaining_amount }}</p> {% endcomment %}
        {% comment %} <h4>You need <strong>{{ remaining_amount | money_with_currency }}</strong> to get free shipping</h4> {% endcomment %}
        <h4>{{ shipping_message }}</h4>
        <div class="free_shipping_progress_bar active"></div>
      </div>

      <script>

        // if (document.querySelector('cart-drawer').classList.contains('active')) {
        //   document.querySelector('.free_shipping_progress_bar').classList.add('active');
        // }

        console.log('Hello from shipping bar snippet');

        document.addEventListener('cart-drawer:updated', () => {
          console.log('cart-drawer:updated', 'cart-drawer:opened');
          // Add active class
          setTimeout(function() {
              document.querySelector('.free_shipping_progress_bar')?.classList.add('active');
          }, 500);
        });

          document.addEventListener('cart-drawer:opened', () => {
          console.log('cart-drawer:opened');
          // Add active class
          setTimeout(function() {
              document.querySelector('.free_shipping_progress_bar')?.classList.add('active');
          }, 500);
        });
      </script>
